# Polymarket MoneyMaker V3 paper engine config
INITIAL_CASH=10000
ENABLE_WS=true
HUNTER_MODE=true
MAX_MARKETS=20
BASE_ORDER_USD=25
MAX_POSITION_USD=200
MAX_TOTAL_EXPOSURE_USD=1500
MAX_DRAWDOWN_PCT=12
MIN_SIGNAL_EDGE=0.008
MIN_CONFIDENCE=0.45
STRAT_COMPLEMENT_ARB=true
STRAT_SPREAD_HUNTER=true
STRAT_INVENTORY_EXIT=true
STRAT_TAIL_END=true
